body {
 /**/
 font-family: 'Mako', sans-serif;
}

table {
	font-size: 0;
	border-collapse: collapse;
}

#wrap {
	top: 0;
	bottom: 0;
	width: 700px;
	margin: 0 auto 0 auto;
	border: 1px dotted grey;
	padding: 5px;
}

#title {

	text-align: center;
	font-size: 2em;
	margin-bottom: 15px;
}

#menu {
	margin: 0 auto 0 auto;
	width: 410px;
}

#menu input {
	width: 200px;
	height: 200px;
}

#game { 
	margin: 30px 10px 10px 10px;
	display: none;
}

#victory {
	display: none;
	margin: 10px;
	padding: 10px;
	font-size: 2.5em;
	
	border: 1px dotted green;
}

#head {
	margin: 0 auto 0 auto;
	width: 600px;
	height: 50px;
}

#head span {
	padding: 10px;
	border: 1px dotted grey;
	margin: 10px;
}

#score {
	color: black;
	font-size: 1em;
}

#me {
	color: black;
	font-size: 1em;
}

#turn {
	margin-left: 50px;
	color: black;
	font-size: 1em;
}

#reset {
	width: 100px;
	height: 45px;
}

.bgblack {
	background-color : black;
}

.bgwhite {
	background-color : white;
}

.newstone {
	border: 2px solid red;
}

.boardclic {
	z-index: 5;
	margin-top: 17px;
	margin-left: 17px;
	position: absolute;
}

.boardclic td {
	
	width: 31px;
	height: 31px;
}

.boardclic .stone {
	border-radius: 50%;
	margin: 0 auto 0 auto;
	width: 27px;
	height: 27px;	
}

.board {
	margin-left: 35px;
	margin-top: 35px;
	background-color: #DC8F22;
	position: absolute;
}

.board td {
	width: 30px;
	height: 30px;
	border: 1px solid black;
}